<p-card>
    <p-tabs [value]="activeTab()" (valueChange)="onTabChange($event)">
        <p-tablist>
            <p-tab value="perfil">
                <i class="pi pi-user mr-2"></i>
                <span>Perfil</span>
            </p-tab>
            @if (hasEmailProvider()) {
            <p-tab value="seguridad">
                <i class="pi pi-lock mr-2"></i>
                <span>Seguridad</span>
            </p-tab>
            }
            @if (isAdmin()) {
            <p-tab value="empresa">
                <i class="pi pi-building mr-2"></i>
                <span>Empresa</span>
            </p-tab>
            <p-tab value="analisis-credito">
                <i class="pi pi-box mr-2"></i>
                <span>Análisis de Crédito</span>
            </p-tab>
            <p-tab value="configuracion-dimensiones">
                <i class="pi pi-sliders-v mr-2"></i>
                <span>Configuración Dimensiones</span>
            </p-tab>
            }
        </p-tablist>
    </p-tabs>
    <div class="mt-4">
        <router-outlet />
    </div>
</p-card>
