/* Submenu Enter Animation */
.p-submenu-enter {
    animation: p-animate-submenu-expand 450ms cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

/* Submenu Leave Animation */
.p-submenu-leave {
    animation: p-animate-submenu-collapse 450ms cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

@keyframes p-animate-submenu-expand {
    from {
        max-height: 0;
    }
    to {
        max-height: 1000px;
    }
}

@keyframes p-animate-submenu-collapse {
    from {
        max-height: 1000px;
    }
    to {
        max-height: 0;
    }
}
