<p-autocomplete
  [suggestions]="suggestions()"
  (completeMethod)="onSearch($event)"
  [(ngModel)]="selectedValue"
  (ngModelChange)="onValueChange($event)"
  optionLabel="name"
  [forceSelection]="forceSelection()"
  [dropdown]="dropdown()"
  [placeholder]="placeholder()"
  [disabled]="disabled()"
  [styleClass]="styleClass()"
  [inputStyleClass]="inputStyleClass()"
  [panelStyleClass]="panelStyleClass()"
  [minLength]="minLength()"
  [delay]="delay()"
  [showEmptyMessage]="showEmptyMessage()"
  [emptyMessage]="emptyMessage()"
  appendTo="body"
/>
